<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>b5</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
        <div class="row no-gutter justify-content-end ">
          <div class="col col-md-2">
            <a href=""><i class="fa fa-th" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="https://images.unsplash.com/photo-1602663491496-73f07481dbea?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="white and red strawberry cake" class="card-image">
                <h2 class="card-title">經典草莓蛋糕</h2>
                <p class="card-context">傳統的草莓蛋糕以其經典的組合，成為了許多人心中的甜蜜經典。這款蛋糕通常由三個主要組件組成，包括蛋糕體、草莓鮮奶油和新鮮草莓，每一個元素都為這道蛋糕帶來獨特的風味和質感。
                  <br><br>
                  首先，蛋糕體是這款草莓蛋糕的基礎。蛋糕體可以使用多種不同的配方，如黃油蛋糕、海綿蛋糕或戚風蛋糕等。這些蛋糕體都有著松軟綿密的質地，能夠為整個蛋糕提供穩定的支撐力。
                </p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-end">
                <div class="price ">$90</div>
                <button type="button" class="btn">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>加入購物車</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="https://images.unsplash.com/photo-1622622008494-60c9e6b41996?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="strawberry cake on white ceramic plate" class="card-image">
                <h2 class="card-title">草莓慕斯蛋糕</h2>
                <p class="card-context">草莓慕斯是傳統草莓蛋糕中的重要成分之一，它帶來了柔軟、輕盈和豐富的草莓風味。<br>這種慕斯通常由鮮奶油、草莓果泥、明膠和糖等成分製成，通過精心製作過程而成。
                  <br><br>
                  首先，鮮奶油是草莓慕斯的主要成分之一。它賦予了慕斯輕盈、綿軟和滑順的質地。
                </p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-end">
                <div class="price ">$150</div>
                <button type="button" class="btn">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  加入購物車</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="https://images.unsplash.com/photo-1641848421776-dbb6426445b6?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="a cake with white frosting and strawberries on top" class="card-image">
                <h2 class="card-title">草莓芝士蛋糕</h2>
                <p class="card-context">這是一種結合了草莓和芝士的經典蛋糕。它具有濃郁的芝士口感和草莓的清新甜味。
      
                </p>
              </div>
              <div class="card-footer d-flex justify-content-between align-items-end">
                <div class="price">$200</div>
                <button type="button" class="btn">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  加入購物車</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>